.cardContainer {
  position: relative;
  /* this with defines width of video */
  width: fit-content;
  background: #d93425;
  padding: 2px;
  border-radius: 15px;
  transition: all 0.2s;
}

.cardContainer:hover {
  padding-right: 30px;
}

.card-user-video {
  max-width: 150px;
  max-height: 150px;
}

.card-screen-video {
  width: 300px;
}
.card-user-audio {
  display: none;
}

.emptyUserCard img {
  width: 100px;
}
.cardContainer span {
  display: none;
}

.cardContainer:hover span {
  display: block;
}

.cardContainer span {
  position: absolute;
  bottom: 0;
  animation: appear 0.5s ease;
}

@keyframes appear {
  0% {
    opacity: 0.3;
    transform: translateY(9px);
  }
  100% {
    opacity: 1;
    bottom: 0;
  }
}

video {
  display: block;
  max-width: 100%;
  min-width: 100%;
  height: auto;
  border-radius: 13px;
  outline: none;
}

video::-webkit-media-controls-fullscreen-button,
video::-webkit-media-controls-play-button,
video::-webkit-media-controls-pausebutton {
  display: none;
}
