.room-page-container {
    height: 80vh;
    width: 100vw;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;
    background-color: #1E1E1E;
}

.cardContainer {
    border: 1px solid #FAB565;
    padding: 15px;
    background-color: #FF00FF;
}

.cardContainer span {
    background: brown;
    cursor: pointer;
}

video {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    /* Safari and Chrome */
    -moz-transform: rotateY(180deg);
    /* Firefox */
}