.mainPage-wrapper { 
    position: relative;
    display: flex;
    width: 100%;
    min-width: fit-content;
    height: 100%;
    background-color: var(--primary);    
}


.mainPage-wrapper section {
    position: relative;
    height: 100%;
    display: flex;
    
}

/* left side */
.mainPg-left { 
    min-width: 43.1%;
    flex-direction: column;
}

#divider {
    position: absolute;
    left:0px;
    height: 100%;
    width: 43.1%;
}



/* right side */

.mainPg-right { 
  
    
     width: 100%;
    left : 0;
    justify-content: center;
    align-items: center;
}
#groupSvg {
    position: relative;
    display: block;   
    width: 83%;
    min-width: 600px;
}

.mainNavBar ul {
    position: absolute;
    top:0px;
    right : 0px;
    display: flex;
       list-style: none;
    padding: 0px;
    margin: 0px;
}

  
.dottedPaths {
    stroke-dasharray: 4 12;
    animation: dash 30s linear infinite;
}
  
@keyframes dash {
   to {
    stroke-dashoffset: 1000;
  }
}
  