/* fonts */
@import url("https://fonts.googleapis.com/css2?family=Port+Lligat+Sans&display=swap");

/* color theme */

:root {   
    
    /* pallete */

    --primary : #0B1726;
    --secondary : #FFFFFF;
    
    /* variants  */
    --primary-2 : #3C419F;
    --secondary-2 : #6C92D3;

    /* hints and shades */
    --hint: #F17B99;

}


#root {
    position: relative;
    height: 100vh;
    width: max-content;
    min-width: 100vw;
    font-family: "Port Lligat Sans", sans-serif;
    letter-spacing: 0.08rem;
}


.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Old versions of Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
                                    supported by Chrome, Edge, Opera and Firefox */
}