.logo {
    display: inline-block;
    height: auto;
    width: auto;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.logo svg {
    width: 12vh;
}

.logo span {
    position: relative;

    color : var(--primary-2);
    font-size: 36px;
}